# PostgreSQL
POSTGRES_USER=sostats
POSTGRES_PASSWORD=sostats_secret
POSTGRES_DB=sostats_db

# Redis
REDIS_PORT=6379

# MinIO
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=minio_secret_password
MINIO_BUCKET=sostats-uploads

# Mailpit does not require configuration by default, 
# UI is available at http://localhost:8025
# SMTP is available at localhost:1025
